@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 20px;
}

nav {
  padding: 10px 10px 30px 10px;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  /* margin: 0 15px 0 15px; */
  list-style: none;
}
